@import 'Import';

.ui_navlist a {
    color: $yellow;
}

.ui_navlist a:hover em {
    color: $textOne;
}


#events body {
    height: 50px;
}

#events #menu_side {
    width: 230px;
    background: $cream;
}

#events #sub_menu > span {
    position: absolute;
    margin-left: 10px;
    line-height: 59px;
    font-family: "liga";
    font-size: 20px;
}

#events #sub_menu input {
    width: 100%;
    margin: 0;
    padding: 0 10px 0 40px;
    line-height: 59px;
    border: none;
    border-right: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    font-size: 15px;
    background: transparent;
    outline: none;
    color: $textOne;
    @include boxSizing();
}

#events #sub_menu a {
    display: block;
    width: 100%;
    padding: 20px;
    color: $textOne;
    font-size: 14px;
    line-height: 150%;
    border-bottom: 1px solid $lightGray;
    @include boxSizing();
    @include transition(all .3s);
}

#events #sub_menu a:hover {
    background: $brown;
    color: $textTwo;
}

#events #sub_menu a strong {
    display: block;
    clear: both;
}

// calendar

.fc-header {
    line-height: 60px;
    background: $cream;
    border-collapse: collapse;
}

.fc-header *{
    margin: 0;
    padding: 0;
}

.fc-header h2 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.fc-header-left, .fc-header-right {
    width: 60px;
    text-align: center;
    font-size: 20px;
}

.fc-button-prev, .fc-button-next {
    font-family: "liga";
    cursor: pointer;
    @include transition(color .3s);
}

.fc-button-prev.fc-state-hover, .fc-button-next.fc-state-hover {
    cursor: pointer;
    color: $red;
}

@media screen and (max-width: 900px) {
    #events #sub_menu span {
        margin-top: 50px;
        left:0; // mozilla fix?
    }
}