//General
$darkBrown: #361c12;
$brown: #4f3b3b;
$darkRed: #9d321b;
$red: #e56655;
$darkYellow: #cd9c50;
$yellow: #f4d37a;
$cream: #f0e9dd;
$darkGray: #5c5c5c;
$lightGray: #bdbdbc;

//Text
$textOne: #4f3b3b;
$textTwo: #fff;
$textThree: #686767;

//Spacific
$ta: #ebebeb;
$taColor:#a8a6a6;
$divLine: #d7d7d7;

@mixin transition($val){
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}

@mixin boxShadow($val){
	-moz-box-shadow: $val;
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

@mixin borderRadius($val) {
	-moz-border-radius: $val;
	-webkit-border-radius: $val;
	border-radius: $val;
}

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica", arial;
	font-weight: normal;
	font-size: 16px;
	color: $textOne;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'liga';
    src: url('../font/websymbolsligaregular-webfont-webfont.eot');
    src: url('../font/websymbolsligaregular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/websymbolsligaregular-webfont-webfont.woff') format('woff'),
         url('../font/websymbolsligaregular-webfont-webfont.ttf') format('truetype'),
         url('../font/websymbolsligaregular-webfont-webfont.svg#web_symbols_ligaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// layout stuff

#colTwo {
    display: table;
    position: absolute;
    z-index: -1;
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    @include boxSizing();
}

#colTwo > div {
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

#menu_side {
    width: 300px;
    background: $brown;
}

#side_open {
    display: none;
}


.button {
    background-color: #fff;
    border: 1px solid $lightGray;
    @include borderRadius(4px);
    color: $textOne;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button span {
    font-family: "liga";
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    margin: 5px 10px 0 0;
}

.button:hover {
    background-color: $lightGray;
    border: 1px solid $darkGray;
}

.pull-right {
    float: right !important;
}

div.panel {
    margin-bottom: 18px;
    border: 1px solid $lightGray;
}

div.panel ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

div.panel li:after {
    clear: both;
    content: " ";
    display: table;
}

div.panel li {
    min-height: 20px;
    padding: 10px 15px;
}

div.panel li:hover {
    background-color: $yellow;
}

div.panel li:last-child {
    border-bottom: medium none;
}

div.panel-heading {
    background-color: $lightGray;
    font-size: 14px;
    line-height: 18px;
    @include borderRadius(0);
    padding: 10px 15px;
}

.light {
    font-size: 13px;
    color: $lightGray;
}

div.panel strong {
    font-weight: bold;
    font-size: 13px;
}

@media screen and (max-width: 900px) {
    #colTwo, #colTwo > div {
        display: block;
    }
    #colTwo #menu_side, html#events #menu_side {
        float: left;
        width: 100%;
        height: auto;
    }
    #side_open {
        display: block;
        float: left;
        width: 100%;
        line-height: 50px;
        color: $textOne;
        background: $cream;
        border-bottom: 1px solid $lightGray;
        text-align: center;
        font-size: 16px;
        @include transition(all .3s);
    }

    #side_open span {
        font-family: "liga";
        float: left;
        width: 20px;
        font-size: 25px;
        padding-left: 20px;
    }

    #side_open:hover {
        background: $yellow;
    }

    #sub_menu {
        display: none;
    }

    #sub_menu.sub_open {
        display: block;
    }
}