@import 'Import';
@import 'header';
@import 'form';
$size: 2em;

#question body {
	background: $cream;
}

.content {
	@include boxShadow(-1px -1px 3px rgba(0,0,0, .2));
	padding: 30px;
}

#question #menu_side {
	width: 400px;
	background: $cream;
}

#search_wrapper {
	margin-top: 50px;
	position: absolute;
}

#question #sub_menu{
	background: $cream;
}

#question #sub_menu > span {
	position: absolute;
	left: 0;
    margin-left: 10px;
    line-height: 59px;
    font-family: "liga";
    font-size: 20px;
}

#question #sub_menu input {
    width: 100%;
    margin: 0;
    padding: 0 10px 0 40px;
    line-height: 59px;
    border: none;
    border-right: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    font-size: 15px;
    background: transparent;
    outline: none;
    color: $textOne;
    @include boxSizing();
}

#question #sub_menu a {
    display: block;
    width: 100%;
    padding: 20px;
    color: $textOne;
    font-size: 14px;
    line-height: 150%;
    border-bottom: 1px solid $lightGray;
    @include boxSizing();
    @include transition(all .3s);
}

#question #sub_menu a:hover {
    background: $brown;
    color: $textTwo;
}

#question #sub_menu a strong {
    display: block;
    clear: both;
}

#question .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #cccccc #cccccc #b3b3b3;
    border-image: none;
    border-radius: 0.25em;
    border-style: solid;
    border-width: 0.0625em;
    box-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.2) inset, 0 0.0625em 0.125em rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    line-height: 1.25em;
    margin-bottom: 0;
    padding: 0.36em 0.75em;
    text-align: center;
    text-shadow: 0 0.0625em 0.0625em rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

#question .btn-danger {
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -0.0625em 0 rgba(0, 0, 0, 0.25);
    padding: 0.36em 0.85em;
}

#question .form-control {
    width: 100%;
}

#question .field .form-control {
    /*width: 92%;*/
    display:inline-block;
}

#question .field .btn {
    position: absolute;
    right: 30px;
}