@import 'Import';

#signin {
    background: $yellow;
}

#login {
    position: absolute;
    top:50%;
    left:50%;
    width: 240px;
    height: 180px;
    margin-left: -120px;
    margin-top: -90px;
}

#login h1 {
    padding: 0;
    margin: 5px 0 15px 0;
    line-height: 100%;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
}

#login .mt {
    margin-top: 15px;
}

#login input[type="submit"] {
    padding: 10px 20px;
    display: inline-block;
    float:right;
    background: #FFF;
    font-size: 15px;
    color: $textOne;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 15px;
     @include borderRadius(10px);
    @include transition(all .3s);
}

#login input[type="submit"]:hover {
    background: $darkYellow;
    color: $textTwo;
}
