body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular-webfont-webfont.eot");
  src: url("../font/websymbolsligaregular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular-webfont-webfont.woff") format("woff"), url("../font/websymbolsligaregular-webfont-webfont.ttf") format("truetype"), url("../font/websymbolsligaregular-webfont-webfont.svg#web_symbols_ligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#colTwo {
  display: table;
  position: absolute;
  z-index: -1;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#colTwo > div {
  display: table-cell;
  vertical-align: top;
  height: 100%; }

#menu_side {
  width: 300px;
  background: #4f3b3b; }

#side_open {
  display: none; }

.button {
  background-color: #fff;
  border: 1px solid #bdbdbc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #4f3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  white-space: nowrap; }

.button span {
  font-family: "liga";
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  margin: 5px 10px 0 0; }

.button:hover {
  background-color: #bdbdbc;
  border: 1px solid #5c5c5c; }

.pull-right {
  float: right !important; }

div.panel {
  margin-bottom: 18px;
  border: 1px solid #bdbdbc; }

div.panel ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

div.panel li:after {
  clear: both;
  content: " ";
  display: table; }

div.panel li {
  min-height: 20px;
  padding: 10px 15px; }

div.panel li:hover {
  background-color: #f4d37a; }

div.panel li:last-child {
  border-bottom: medium none; }

div.panel-heading {
  background-color: #bdbdbc;
  font-size: 14px;
  line-height: 18px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px 15px; }

.light {
  font-size: 13px;
  color: #bdbdbc; }

div.panel strong {
  font-weight: bold;
  font-size: 13px; }

@media screen and (max-width: 900px) {
  #colTwo, #colTwo > div {
    display: block; }

  #colTwo #menu_side, html#events #menu_side {
    float: left;
    width: 100%;
    height: auto; }

  #side_open {
    display: block;
    float: left;
    width: 100%;
    line-height: 50px;
    color: #4f3b3b;
    background: #f0e9dd;
    border-bottom: 1px solid #bdbdbc;
    text-align: center;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

  #side_open span {
    font-family: "liga";
    float: left;
    width: 20px;
    font-size: 25px;
    padding-left: 20px; }

  #side_open:hover {
    background: #f4d37a; }

  #sub_menu {
    display: none; }

  #sub_menu.sub_open {
    display: block; } }
#signin {
  background: #f4d37a; }

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 180px;
  margin-left: -120px;
  margin-top: -90px; }

#login h1 {
  padding: 0;
  margin: 5px 0 15px 0;
  line-height: 100%;
  font-size: 24px;
  font-weight: 200;
  text-align: center; }

#login .mt {
  margin-top: 15px; }

#login input[type="submit"] {
  padding: 10px 20px;
  display: inline-block;
  float: right;
  background: #FFF;
  font-size: 15px;
  color: #4f3b3b;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#login input[type="submit"]:hover {
  background: #cd9c50;
  color: #fff; }

/*# sourceMappingURL=signin.css.map */
