/****************************************************************************************/
/* ikonit               = images/icons/
/* message-box ikonit   = images/icons/message/
/*
/*
/*
/*
/*
/****************************************************************************************/


*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p , blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a img {
    border: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 1em;
    background: #f5f5f5;
}

/* CLEARFIX */
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* END OF CLEARFIX */



/************* KIRJAIMET *********************/
body {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

p, .button, ul#nav li ul, ul#tabs, div.side-menu-wrapper ul li a, table,
.information-box, .error-box, .confirmation-box, .warning-box  {
    font-size: 0.75em;
}

h1 {
    font-size: 1.125em;
}



/* YLEISET APU PASKAT*/

/* Pyöristää kulmat, jos haluat vaihtaa pyöristystä, tee se tästä */
.round {
    border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
}

.text-upper {
    text-transform: uppercase;
}

.float-right {
    float: right;
}

.float-left {
    float:left;
}

p {
    margin-bottom: 1.66em;
}

.half-size-column {
    width: 48%;
}
/* NAPIT */

/*
    perus nappi jossa valmiina täytettä
    valitse muita luokkia mukaan niin tulee hubaa
*/
.button {
    padding: 0.8333em;
    display: inline-block;
    background-repeat: no-repeat;
}

.image-left {
    background-position: 0.833em center;
    padding-left: 3em;
}

.image-right {
    padding-right: 3em;
}


/* VÄRIT */
.gray {
    background-color: #4E4E4E;
    color: #FFFFFF;
}

.gray:HOVER {
    background: #5A5A5A;
    color: #FFFFFF;
}

.dark-gray {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.dark-gray:hover {
    background-color: #4E4E4E;
    color: #FFFFFF;
}

.light-gray {
    background: #5A5A5A;
}

.light-gray:hover {
    background: #4E4E4E;
}

a {
    color: white;
}

a:hover {
    color: #4AE9DB;
}

p a {
    border-bottom: 1px dotted #FFFFFF;
}

p a:hover {
    border-bottom: 1px dotted #4AE9DB;
}


/* YLÄPALKKI */
div#top-bar {
    padding: 0.625em 0;
    background-color: #1F1F1F;
    position: fixed;
    width: 100%;
    min-width: 1000px;
    margin-bottom: 1em;
}

div#header {
    padding: 1.25em 0;

}

div#login-intro {
    padding: 0.625em 0 0.625em 3.75em;
}

*:focus {
    outline: none;
}
div#header p {
    margin-bottom: 0;
}
div#header {
    padding: 1.85em;
    margin: auto;
}


div#header-with-tabs {
    padding: 3.25em 0 0 0;
    min-width: 1000px;
}

div#container {
    background: #333;
    padding: 1.875em;
    margin: auto;
}


/************** TABIT ******************/

ul#tabs { list-style-type: none; padding: 2.9em;}
ul#tabs li { float:left; }
ul#tabs li a {
    display:block;
    border: 0.3em solid #CECDCD;
    /*border-bottom:none;*/
    padding: 1.9em 0.833em;
    margin: 0 0.4126em -0.26em 0;
    background: #1F1F1F;
    min-width: 5em;
    text-align: center;
}

ul#tabs li a.active-tab {
    background: #B6B6B6;
    font-weight: bold;
    color: #3D3535;
    border-bottom: 0.3em solid #B6B6B6;
}

/* SISÄLTÖ */
div#content {
    background: #5A5A5A;
    padding: 1.875em;
}

div#content-full-width {
    background: #B6B6B6;
    padding: 1.875em 0;
    border-top: #CECDCD 0.2em solid;
    min-width: 1000px;
}



/* LOMAKKEET */
form#login-form {
    width: 19.75em;
    margin: 0 auto;
}
form label {
    display: block;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 0.416em;
}

form input[type="text"], input[type="password"], textarea {
    border: 1px solid #d9dbdd;
    padding: 0.833em;
    outline: none;
}

form input[type="text"]:FOCUS, form input[type="password"]:FOCUS,
form input[type="text"]:hover, form input[type="password"]:hover, textarea:focus, textarea:hover {
    border: 1px solid #4AE9DB;
    box-shadow: 0 0 5px #4AE9DB;
    -moz-box-shadow: 0 0 5px #4AE9DB;
    -webkit-box-shadow: 0 0 5px #4AE9DB;
}


form input[type="submit"] {
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
        box-shadow: 0 0 0.625em #4AE9DB;
    -moz-box-shadow: 0 0 0.625em #4AE9DB;
    -webkit-box-shadow: 0 0 0.625em #4AE9DB;
}

form input.error-input {
    border: 1px solid #ff876f;
}

form input.error-input:hover {
    border: 1px solid #bf4826;
}

form p em {
    display: block;
    margin-top: 0.833em;
}

form p.form-error, form p.form-error label {
    color: #cf4425;
}

/* PITUUDET */
.full-width {
    width: 93%;
}

.page-full-width {
    padding: 0 1.875em;
}

.full-size-input {
    width: 93%;
}

.default-size-input { width: 20.83em; /* 250/12 */}




/******************** FOOOTER *************************/
div#footer {
    padding: 1.875em 0;
    text-align:center;
}







/**************** TABLES *******************************/
table {
    width: 100%;
}
table th {
    background-color: #323232;
    padding: 0.625em;
    text-transform: uppercase;
    border-left: 1px solid #000000;
    color: white;
}

table tbody td:FIRST-CHILD, table thead th:FIRST-CHILD {
    width: 4em;
    text-align: center;
    padding: 0;
}

table tbody td:nth-child(2), table thead th:nth-child(2) {
    width: 20em;
}

table tbody td:nth-child(4), table thead th:nth-child(4) {
    width: 1em;
}

table tbody td:LAST-CHILD, table thead th:LAST-CHILD {
    width: 8em;
    text-align: center;
    padding: 0;
    border-right: 1px solid #000000;
}

table tbody td {
    padding: 0.625em;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}

table tbody tr:nth-child(odd) {
    background-color: #B7B4B4;
}

table tbody tr:nth-child(even) {
    background-color: #9B9797;
}

table td.table-footer {
    text-align: left;
    padding-top: 1.25em;
}



/************* PANELS *******************************/
div.side-content {
    width: 93%;

}

div.content-moduuli {
    margin-bottom: 1em;
    /*border: 1px solid #eeefef;*/

}

.content-moduuli-heading {
    background-color: #1E1E1E;
    color: #FFFFFF;
    cursor: pointer;
}

.content-moduuli-heading span {
    font-size: 0.75em;
    color: #969dac;
    text-transform: uppercase;
    margin: 1.75em;
}

.content-moduuli-heading h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.05em;
}

.content-moduuli-main {
    background: #CECDCD;
    padding: 2em;

}

.half-size-box { width: 48%; }





/************************* VIESTI BOKSIT ******************************/
.information-box, .confirmation-box, .error-box, .warning-box {
    padding: 0.833em 0.833em 0.833em 3em; /* 10/12 36/12 */
    margin-bottom: 0.833em;
}

.information-box {
    background: #e5f5f9 url("images/icons/message/information.png") no-repeat 0.833em center;
    border: 1px solid #cae0e5;
    color: #5a9bab;
}

.error-box {
    background: #ede8e4 url("images/icons/message/error.png") no-repeat 0.833em center;
    border: 1px solid #e6bbb3;
    color: #cf4425;
}

.warning-box {
    background: #fdf7e4 url("images/icons/message/warning.png") no-repeat 0.833em center;
    border: 1px solid #e5d9b2;
    color: #b2Ba0b;
}

.confirmation-box {
    background: #e7fae6 url("images/icons/message/confirmation.png") no-repeat 0.833em center;
    border: 1px solid #b7cbb6;
    color: #52964f;
}
